@model IEnumerable<projektKompo.Models.RattingReview>

<ul>
    @foreach (var item in Model)
    {
        
        <li>
            <div>
                <h4>@item.Ratting / 10</h4>
                <small>
                    Autor: @item.Author @if (User != null && User.Identity != null && item.Email == User.Identity.Name)
                { @Html.ActionLink("Edytuj", "Edit", new { id = item.Id })}
                </small>
            </div>
            <p>@Html.DisplayFor(modelItem => item.Comment)</p>

        </li>
    }
</ul>
